@page "/"
@using MetaMask.Blazor
@using MetaMask.Blazor.Enums
@inject IDoProjects Comms
@inject IDoAddresses Addr
@inject IToastService Toast
@inject MetaMaskService Meta
@inject AppState AppState
@inject IJSRuntime JS
@inject ClientConfig CFG
@implements IDisposable


<PageTitle>Merkallow</PageTitle>

@*@if(AppState.AccountToShow().StartsWith("0x47b4"))
{
    <button class="btn btn-secondary" @onclick="@(() => DoTest())">Test</button>
}
*@
@if(AppState.IsAuthenticated)
{
    <div style="margin-bottom: .5rem;">Welcome, <span style="color: #5a349aff; font-weight:bold;">@AppState.AccountToShow()</span></div>
}

@if(@Spinning)
{
    <Spinner />
}
@if (string.IsNullOrEmpty(AppState.AccountId))
{
    <div>
        <div class="d-flex justify-content-center">
            <h2>NFT mint whitelist</h2>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" @onclick="(() => Authenticate())" disabled="@(!HasMetaMask)">
                Authenticate
            </button>
        </div>

        @if (!HasMetaMask)
        {
            <div class="d-flex justify-content-center vertical-space darktext">
                Please authenticate with <span>&nbsp;</span> <a href="https://metamask.io" target="_blank"> MetaMask </a>.
            </div>
        }
    </div>
}

else if (SelectedProject == null)
{
    @if (ShowCreateForm)
    {
        <div>
            <input type="text" @bind-value="@NewProjectName" placeholder="Project name" class="project-input">
            <button class="btn btn-primary" @onclick="CreateProject">Create</button>
        </div>
    }
    else
    {
        <div>
            <button class="btn btn-primary" @onclick="ShowProjectCreation"><span class="oi oi-plus" style="margin-right:.5rem; font-size: 14px;"></span>New Project</button>
        </div>
    }

    <div class="d-flex flex-sm-wrap" style="margin-top: .5rem; margin-bottom: .5rem;">
        @if (Projects != null)
        {
            foreach (var prj in Projects)
            {
                <div @onclick="@(() => SelectProject(prj))" class="project-card">
                    <ProjectComponent CurrentProject=prj />
                </div>
            }
        }
    </div>
}
else
{
    <div>
        <button class="btn btn-secondary" @onclick="BackToProjects"><span class="oi oi-arrow-circle-left" style="margin-right:.5rem; font-size: 14px;"></span>Back</button>
    </div>

    <h3 style="margin-top: 1rem;">
        @SelectedProject.Name
    </h3>

    @if (GeneratedRoot != null)
    {
        <div class="root-cid">
            <div><span style="margin-right: .5rem;">Root:</span> @GeneratedRoot.Root</div>
            <div><span style="margin-right: .8rem;">CID:</span> @GeneratedRoot.Cid</div>
        </div>
    }

    <div>
        <ControlAddressComponent GenerateEvt=@GenerateRoot
                             SelectedAddress=@SelectedAddress
                             AddEvent=@AddAddress
                             DeleteEvent=@DeleteAddress
                             UpdateEvent=@UpdateAddress
                             CannotGenerate=@HasNoAddresses />
    </div>

    <h4>Whitelist: @(Addresses?.Count ?? 0)</h4>

    @if (Addresses != null && Addresses.Count > 0)
    {
        @foreach (var addr in Addresses)
        {
            <div @onclick="(() => SelectAddress(addr))">
                <AddressComponent CurrentAddress=@addr Selected="@(addr == SelectedAddress)" />
            </div>
        }
    }
    else
    {
        <div>No addresses added at the moment.</div>
    }
}

@code {
    List<Project> Projects;
    Project SelectedProject;
    List<Address> Addresses;
    Address SelectedAddress;
    ProjectRoot GeneratedRoot;
    bool ShowCreateForm = false;
    string NewProjectName = string.Empty;
    bool HasNoAddresses => Addresses == null || Addresses.Count == 0;
    bool Spinning = false;
    void ShowProjectCreation() => ShowCreateForm = true;
    bool HasMetaMask = true;

    protected override async Task OnInitializedAsync()
    {
        Projects = await Comms.Get();

        MetaMaskService.AccountChangedEvent += MetaMaskService_AccountChangedEvent;
        MetaMaskService.ChainChangedEvent += MetaMaskService_ChainChangedEvent;

        //Toast.ShowInfo($"retrieved {Projects.Count()} entries");

        HasMetaMask = await Meta.HasMetaMask();
        if (HasMetaMask)
            await Meta.ListenToEvents();

        bool isSiteConnected = await Meta.IsSiteConnected();
        if (isSiteConnected)
        {
            await GetSelectedAddress();
            await GetSelectedNetwork();
        }
    }


    private async Task MetaMaskService_ChainChangedEvent((long, Chain) arg)
    {
        Console.WriteLine("MetaMaskService_ChainChangedEvent");
        Spinning = true;
        await GetSelectedNetwork();
        Spinning = false;
        StateHasChanged();
    }

    private async Task MetaMaskService_AccountChangedEvent(string arg)
    {
        Console.WriteLine("MetaMaskService_AccountChangedEvent");
        Spinning = true;
        await GetSelectedAddress();
        Spinning = false;
        StateHasChanged();
    }

    public async Task GetSelectedAddress()
    {
        var address = await Meta.GetSelectedAddress();
        AppState.SetAccount(this, address);
        StateHasChanged();
    }

    public async Task GetSelectedNetwork()
    {
        var chainInfo = await Meta.GetSelectedChain();

        AppState.SetChain(this, chainInfo.chainId);
        Console.WriteLine($"ChainID: {AppState.ChainId}");
        StateHasChanged();

        if(AppState.ChainId != CFG.NetworkId)
        {
            Toast.ShowWarning($"Please, connect to chain: {NetworksList.Networks[CFG.NetworkId]}");
        }
    }

    async Task Authenticate()
    {
        Console.WriteLine("Authenticating...");
        Spinning = true;
        if (!await Meta.HasMetaMask())
        {
            Console.WriteLine("Has no MetaMask");
            HasMetaMask = false;
            StateHasChanged();
        }
        else
        {
            try
            {
                if (!await Meta.IsSiteConnected())
                    await Meta.ConnectMetaMask();
                var user = await Meta.GetSelectedAddress();
                AppState.SetAccount(this, user);
            }
            catch (Exception ex)
            {
                Toast.ShowError($"Auth failed. Please, check your wallet");
            }
        }
        Spinning = false;
    }


    async void CreateProject()
    {
        if (string.IsNullOrEmpty(NewProjectName))
        {
            Toast.ShowWarning("Please, specify project name!");
            return;
        }
        Spinning = true;
        var newProject = await Comms.Create(NewProjectName);
        Projects.Insert(0, newProject);
        ShowCreateForm = false;
        Spinning = false;
        StateHasChanged();
        NewProjectName = string.Empty;
    }

    async void SelectProject(Project p)
    {
        Spinning = true;
        SelectedProject = p;
        SelectedAddress = null;
        GeneratedRoot = null;
        ShowCreateForm = false;
        Addresses = await Addr.Get(p.Id);
        Spinning = false;
        StateHasChanged();
    }

    async void BackToProjects()
    {
        SelectedProject = null;
        Addresses = null;
        StateHasChanged();
    }

    async void SelectAddress(Address a)
    {
        Console.WriteLine($"Select address: {a.Id}");
        SelectedAddress = a;
        StateHasChanged();
    }

    async Task AddAddress(string publicAddress)
    {
        Spinning = true;
        var added = await Addr.Add(publicAddress, SelectedProject.Id);
        SelectedAddress = null;
        Addresses.Insert(0, added);
        Spinning = false;
    }

    bool IsSelected(Address addr)
    {
        return addr == SelectedAddress;
    }

    async Task GenerateRoot()
    {
        Spinning = true;
        Console.WriteLine($"call generate {SelectedProject.Id}");
        GeneratedRoot = await Comms.Generate(SelectedProject.Id);
        Spinning = false;
    }

    async Task DeleteAddress(Address address)
    {
        if(await Addr.Delete(address.Id))
        {
            Addresses.Remove(address);
            StateHasChanged();
        }
    }

    async Task UpdateAddress(Address address)
    {
        Console.WriteLine($"updating: {address.PublicAddress}");
        if(await Addr.Update(address.PublicAddress, address.Id))
        {
            var i = Addresses.Select((o, i) => new { o, i}).Where(x => x.o.Id == address.Id).FirstOrDefault().i;
            Addresses[i] = address;
            Console.WriteLine("updated");
            StateHasChanged();
        }
    }

    async Task DoTest()
    {
        await JS.InvokeVoidAsync("showAlert", "123");
    }

    // ----
    protected override void OnInitialized()
    {
        AppState.Statechanged += async (Source, Property) => await AppState_StateChanged(Source, Property);
    }

    private async Task AppState_StateChanged(ComponentBase source, string Property)
    {
        if (source != this) await InvokeAsync(StateHasChanged);
    }

    void IDisposable.Dispose()
    {
        AppState.Statechanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);
    }
}